<div class ="sidenav" [ngClass]="collapsed ?'sidenav-collapsed':''" >
    <div class="logo-container">
        <button class="logo" (click)="toggleCollapse()">M</button>
        <div class="logo-text" *ngIf="collapsed">Movie Login System</div>
        <button class="btn-close" *ngIf="collapsed"(click)="closeSidenav()"></button>
            <i class="fal fa-items close-icon"></i>
        <!-- </button> -->
        <button class="btn-close"></button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor="let data of navData" >
            <a class="sidenav-nav-link" [routerLink]="[data.routeLink]">
                <i class="sidenav-link-icon"[class]="data.icon"></i>
                <span class="sidenav-link-text" *ngIf="collapsed">{{data.Label}}</span>
            </a>
        </li>
    </ul>
</div>