.sidebar{
    box-shadow:5px 0 5px -5px #333;
    height: 90vh;
}
.button{
    border:none;
    width:220px;
    margin-top: 10px;
    color:white;
    height: 35px;
    background-color: rgb(0, 9, 139);
    font-weight: 900;
    border-radius:5px;

}
.button:hover{
    color:aquamarine;
    border:1PX solid yellow;
    background-color: blueviolet;
}
.navbar{
    background-color:rebeccapurple radial-gradient(circle at 60% 100%,#ffd6bb,5%,white,blue,96%);
}
b{margin-left: 16%;}
.fas fa-film{
    margin-top: 60%;
}
