h1{
    color:blueviolet;
    font-size:medium;
}
h2{
    color: aquamarine;
}
.getquote{
    border:none;
    background-color: aquamarine;
    height: 60px;
    padding: 16px;
    margin-right: 26px;
    border-radius:8px;
    color:cornflowerblue;
    color:lightslategrey;
    font-weight: 600px;
}
.options-primary{
    height:30vh;
    background-color: aquamarine;
    font-size: medium;
    color:aquamarine;
    font-weight: 900;
    font-display:initial;
}